*.asv
GRW2017/~$grw2017_poster.pptx
*.autosave
*.~vsdx
*.tmp
EL-EN 2017/~$-EN_makale.docx
EL-EN 2017/loss/~$loss_table.xlsx
ISIE 2017/sunum/~$ISIE2017_OralPres_Mesut_Uğur.pptx
IMMD BAP/BAP 1. Gelişme Raporu/~$.3. Projedeki Bilimsel Gelişmeler ve Sonuçlar.docx
Paper/ELECO 2017/Template/~$eco2017_MsWord.docx
Paper/ELECO 2017/Makale/~$eco2017_Makale.docx
Paper/EL-EN 2017/final submission/~$-EN_makale_after_review.docx
Paper/EL-EN 2017/sunum/~$ELEN2017_OralPres_Mesut_Uğur.pptx
Project/BAP/Procurement/~$bütçe-update.xlsx
Project/BAP/Design/dclink/~$lcfiltersimres.xlsx
Project/BAP/Design/dclink/~$cap_bench.xlsx
Project/BAP/Design/~$sign Report.docx
Project/BAP/Design/~$Designfile.xlsx
Project/BAP/Design/Design report/~$Designfile.V1.1.xlsx
Project/BAP/Design/Design report/~$Designfile.V1.0.xlsx
Paper/IESES 2018/First Submission/~$Makale.docx
Paper/CPE-POWERENG 2018/~$14_04_msw_a4_format.doc
Paper/EPE 2018/Abstract submission/~$bmission_Abstract.docx
Paper/EPE 2018/Abstract submission/~$stract.docx
Project/3501/Furkan/AllData.mat
Paper/CPE-POWERENG 2018/~$mplate_2014_04_msw_a4_format.doc
Paper/CPE-POWERENG 2018/Submission/~$E_POWERENG_Makale_Submit.doc
Paper/CPE-POWERENG 2018/Submission/~$Makale.docx
Paper/PEMD 2018/Full Paper/~$nal_Paper_PEMD.doc
Paper/PEMD 2018/Full Paper/~$eviews.docx
Paper/PEMD 2018/Full Paper/~$kale taslağı.docx
Paper/PEMD 2018/Abstract Submission/~$stract.docx
Paper/PEMD 2018/Optimization Work/~$parameters.xlsx
Project/3501/Furkan/Capacitances.mat
Project/3501/Furkan/MAT File Store/Capacitances.mat
Project/3501/Furkan/MAT File Store/AllData.mat
Paper/PEMD 2018/Optimization Work/study/~$parameters.xlsx
*.mat
Paper/CPE-POWERENG 2018/Submission/~$E_POWERENG_Makale_Submit.docx
Paper/PEMD 2018/Full Paper/Help doc/~$eviews.docx
Paper/PEMD 2018/Full Paper/Help doc/~$mplate.doc
Paper/PEMD 2018/Full Paper/~$nal_Paper_PEMD.docx
Paper/PEMD 2018/Optimization Work/study/~$lenebilir.docx
Paper/PEMD 2018/Optimization Work/study/~$ermal model.docx
Project/3501/Furkan/GaN Model/AllDetailsIncluded/~$Results.xlsx
Paper/ECCE 2018/~$CE 2018 - Digest.docx
Literature/~$terature_immd.docx
Literature/~$terature_researchgroup_based.docx
Literature/~$immd_literature.pptx
Paper/PEMC 2018/Submission/~$mc2018papersubmittion.docx
Paper/PEMC 2018/Submission/~$mc2018papersubmittion_modification.docx
Paper/ICEM 2018/Makale/~$EM2018-Makale-submission.docx
Paper/PEMD 2018/Presentation/~$PEMD2018_OralPres_Mesut_Uğur.pptx
Project/3501/Furkan/Board Connectors/~$Connectors.xlsx
Thesis/Tez İzleme Komitesi/~$Tez Önerisi Savunması_Mayıs 2018.pptx
